# Python
__pycache__/
*.py[cod]
*$py.class
*.venv
venv/
ENV/
env/

# GUI/App
*.exe
*.spec
build/
dist/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
*_sanitized.epub
*_sanitized.pdf
test_temp/
